@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #09090a;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Radio Canada Big", sans-serif;
    color: #ffffff;
    flex-direction: column;
}

#main {
    min-height: 100vh;
    width: 65%;
}

#logo {
    width: 150px;
    height: 150px;
}

header {
    height: 200px;
    width: 100%;
    background-color: #8257e5;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 18pt;
}

#nav a {
    color: #ffffff;
}

section {
    width: 100%;
    background-color:#202024;
    display: flex;
    justify-content: center;
    display: flex;
    border-radius: 20px;
}

#areatextos {
    width: 90%;
    margin-top: 50px;
}

#sobre {
    margin-bottom: 70px;
}

#sobre p {
    margin-bottom: 20px;
}

#objetivos p {
    margin-bottom: 20px;
}

#objetivos {
    margin-bottom: 70px;
}

#atividades {
    margin-bottom: 70px;
}

#atividades p {
    margin-bottom: 20px;
}

#contribuir {
    margin-bottom: 70px;
}

p {
    font-size: 13pt;
}

h1 {
    margin-bottom: 10px;
    font-size: 25pt;
}

#contato {
    margin-bottom: 70px;
}

a {
    color: #8257e5;
}

footer {
    height: 150px;
    width: 100%;
    background-color: #383838;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (max-width: 600px) {
    #main {
        min-height: 100vh;
        width: 100%;
    }

    #nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 30px;
<<<<<<< HEAD
    font-size: 8pt;
=======
    font-size: 10pt;
>>>>>>> 5077dfac556ac1510b496f5ac284b31acfd7db71
}
}
